*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav *{
    color: black;
}
/* NAVBAR */
ul{
    list-style: none;
}


/* basics */

body,html{
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
a{
    text-decoration: none;
}
.header-content{
    margin-bottom: 150px;
    color: black;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom:30px ;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: black;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
    background-color: transparent;
}


.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}

.active{
    color:#fc036b ;
    text-decoration: underline;
    font-weight: bold;
}

#menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/*Events*/

section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(70, 83, 153);
}

.row{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin-top: 20px auto;
}

p{
    color:#7c7c7c ;
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;

}

.explore{
    width: 100%;
    height: 100vh;
    color: white;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
  
  .explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .explore-content h1{
    font-size: 26px;
    font-size: 7vimn;
    margin: 50px;
  }

  .explore-content p{
    color: whitesmoke;
  }
  
  .explore-content .ctn{
    margin-top: 40px;
  }

  .explore-content .line{
    margin-top: -10px;
    padding-top: 5px;
    margin-bottom: 50px;
  }
/*Mobile devices*/

@media only screen and (max-width:850px){
    #menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        transform: translateY(-100%);
        transition: all 0.5s ease;
        border-radius: 0 0 25% 0;
    }
    .mobile-menu{
        transform: translateY(0%);
    }
    .nav-links li{
        margin: 30px auto;
    }

}




